Exercises using the data in Kaggle:
https://www.kaggle.com/c/titanic/data

In [2]:
import pandas as pd

#### Ejercicio 1. 
Leer el archivo csv y guardarlo en una variable

In [5]:
my_file_path = "train.csv"
titanic = pd.read_csv(my_file_path)
titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
titanic.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

#### Ejercicio 2. 
Cual es la edad del sujeto 7

In [17]:
titanic["Age"][6]

54.0

#### Ejercicio 3. 
Obtener el sujeto 7

In [21]:
titanic.loc[6]

PassengerId                          7
Survived                             0
Pclass                               1
Name           McCarthy, Mr. Timothy J
Sex                               male
Age                                 54
SibSp                                0
Parch                                0
Ticket                           17463
Fare                           51.8625
Cabin                              E46
Embarked                             S
Name: 6, dtype: object

#### Ejercicio 4. 
Qué edad tiene la persona más joven

#### Ejercicio 5. 
Calcula la media y el máximo de edad

#### Ejercicio 6. 
Selecciona las filas de menores de edad y guárdalo en un Data Frame

#### Ejercicio 7. 
Mismo que el ejercicio 6 pero elimina los datos NA

#### Ejercicio 8. 
Filtra las mujeres de primera clase y extrae las columnas Fare y Survived y guardalo en una variable

#### Ejercicio 9. 
Porcentaje de supervivencia de ese grupo

#### Ejercicio 10. 
Media de edad de hombres que sobrevivieron

#### Ejercicio 11. 
Cuantas personas sobrevivieron

#### Ejercicio 12. 
Cuantas personas fallecieron

#### Ejercicio 13. 
Cuantas personas viajaron en el Titanic

#### Ejercicio 14. 
Ratio de personas entre primera y tercera clase

#### Ejercicio 15. 
Seleccionar columnas Age y Sex para personas de primera clase

#### Ejercicio 16. 
Calcula la máscara para seleccionar los supervivientes de tercera clase o los hombres de primera que fallecieron

#### Ejercicio 17. 
Correlación entre edad y fare para sexo

#### Ejercicio 18. 
Crea una nueva columna en el Data Frame que se llame Riesgo y tenga estos valores para cada grupo:

- 1 clase mujer = 1
- 2 clase mujer & 1 clase hombre = 2
- 3 clase mujer & 2 clase hombre = 3
- 3 clase hombre = 4

#### Ejercicio 19. 
Crea otra columna DesviacionFare con la diferencia de Fare y la media de todos los Fare del Data Frame.
Calcula el mínimo y el máximo de esta variable por cada combinación de sexo y clase